{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="col-lg-30 mx-auto">
    <div class="example-wrapper">
        <h1>Bonjour {{ user[0].pseudo }} ✅</h1>

        <a href="/postamessage" style="text-decoration: none"> <input type="button" value="Poster un message"> </a>
        <a href="/profil/{{ user[0].id }}" style="text-decoration: none"> <input type="button" value="Mon profile"> </a>
        <a href="/members" style="text-decoration: none"> <input type="button" value="Membres"> </a>
        <a href="/logout" style="text-decoration: none"> <input type="button" value="Déconnexion"> </a>

        <h2>Derniers messages :</h2>

    {% for attribut in result %}
        <span class="message">
            <h4>Le {{attribut.date_creation|date('d/m/Y H:i:s') }}, <a href="/user/{{ attribut.pseudo }}">{{ attribut.pseudo }}</a> à écrit : </h4>
        {{attribut.contenu}} <br>
        </span>
        {% for rep in reply %}
            {% if rep[0][0].idMessage == attribut.id %}
                <span class="reply">
                        <h4>Le {{rep[0][0].date|date('d/m/Y H:i:s') }}, <a href="/user/{{ rep[1] }}">{{ rep[1] }}</a> à répondu : </h4>
                        {{rep[0][0].contenu}} <br>
                    </span>
            {% endif %}

        {% endfor %}
        <a href="/reply/{{ attribut.id }}" style="text-decoration: none"> <input type="button" value="Répondre"> </a>
        {% if attribut.id_user_creation == user[0].id%}
            <a href="/delete/{{ attribut.id }}" style="text-decoration: none"> <input type="button" value="Supprimer"> </a>
        {% endif %}
        <br>
    {% endfor %}
</div>
{% endblock %}
