{% extends 'base.html.twig' %}

{% block title %}{{ result[0].pseudo }}{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Profile de {{ result[0].pseudo }}</h1>

    <a href="/user/{{ result[0].pseudo }}" style="text-decoration: none"> <input type="button" value="Voir les derniers messages posté"> </a>
    <a href="/followandblock/{{ result[0].id }}" style="text-decoration: none"> <input type="button" value="Voir personnes suivi et bloqué"> </a>
    <br><br>
    {% if alreadyFollow == false %}
        <a href="/follow/{{ result[0].id }}" style="text-decoration: none"> <input type="button" value="Suivre"> </a>
    {% else  %}
        <a href="/unfollow/{{ result[0].id }}" style="text-decoration: none"> <input type="button" value="Ne plus suivre"> </a>
    {% endif %}

    {% if alreadyBlock == false %}
        <a href="/block/{{ result[0].id }}" style="text-decoration: none"> <input type="button" value="Bloquer"> </a>
    {% else  %}
        <a href="/unblock/{{ result[0].id }}" style="text-decoration: none"> <input type="button" value="Ne plus Bloquer"> </a>
    {% endif %}


    <span><h4>Nom : </h4>{{ result[0].nom }}</span><br>
    <span><h4>Prénom : </h4>{{ result[0].prenom }}</span><br>
    <span><h4>E-mail : </h4>{{ result[0].email }}</span><br>
    <span><h4>Description : </h4>{{ result[0].description }}</span><br>
    <span><h4>Membre depuis : </h4>{{ result[0].datecreation|date('d/m/Y H:i:s')  }}</span><br>
    <br>
    <a href="javascript:history.back()" style="text-decoration: none"> <input type="button" value="Retour"> </a>

</div>
{% endblock %}
